.dashboard {
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
}


.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;

}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 28px;
  color: #444;
  margin-bottom: 8px;
}

.card-value {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.card-note {
  font-size: 14px;
  color: #777;
  margin-top: 6px;
}

.dashboard-cards {
  display: flex;
 
}

.positive {
  color: #28a745; 
  font-weight: 600;
  font-size: larger;
}

.negative {
  color: #dc3545; 
  font-weight: 600;
  font-size: larger;
}
