.chart-container {
  width: 50%;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}


.toggle-group button {
  padding: 5px 10px;
  margin: 5px 2px;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #000;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s;
}


.toggle-group button.active {
  background-color: black;
  color: white;
}

