/* src/Components/Sidebar.css */

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #F5F6F6;
  color: #fff;
  padding: 30px 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-logo img{
 width: 200px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 20px;
}

.sidebar-link {
  text-decoration: none;
  color: #2d1616;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-link:hover {
  background-color: #333;
  color: white;
}

.sidebar-link.active {
  background-color: black;
  color: white;
}
